Debug/bin/*.*
Debug/obj/*.*
Debug/*.*
Debug/test_led.log
*.tlog
Debug/vc120.idb
*.pdb
*.suo
test_led.sdf
*.log
test_led/Debug/bin/history.xml
*.bin
*.o
error.txt
test_led/Debug/bin/test_led.elf
*.elf
test_led/Debug/bin/test_led.elf
test_led/Debug/obj/dependencies.xml
test_led/Debug/obj/history.xml
